<div class="container">
<div class="containerx" style="height: 220px; width: 100%;background-color: rgb(171, 213, 241);padding-top: 10px;padding-bottom: 10px;vertical-align: top;">
   <section class="customer-logos slider">
        <div class="slide"><img src="https://scontent.fsub29-1.fna.fbcdn.net/v/t39.30808-6/324187747_920014339370680_2574075184744463338_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=7DUL5ws7RKcQ7kNvgEnv7V4&_nc_ht=scontent.fsub29-1.fna&oh=00_AYDqJGAXHFnXzchizJ5x-IruXTOl_gd1rscwCSs92TYFWw&oe=66BAD2DA"></div>
        <div class="slide"><img src="assets/img/clients/1.png"></div>
        <div class="slide"><img src="https://scontent.fsub29-1.fna.fbcdn.net/v/t39.30808-6/272142778_143772741400308_261982326708389273_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=VnyzbPxCV3gQ7kNvgGgjg-2&_nc_ht=scontent.fsub29-1.fna&oh=00_AYDD6uCIB6A8Vyh9GK87TNP0kxtTSPv4MglkLmqAgFWdlg&oe=66BABA89"></div>
        <div class="slide"><img src="assets/img/clients/2.png"></div>
        <div class="slide"><img src="assets/img/clients/3.png"></div>
        <div class="slide"><img src="assets/img/clients/4.png"></div>
        <div class="slide"><img src="assets/img/clients/5.png"></div>
        <div class="slide"><img src="assets/img/clients/6.png"></div>
        <div class="slide"><img src="assets/img/clients/7.png"></div>
        <div class="slide"><img src="assets/img/clients/8.png"></div>
        <div class="slide"><img src="assets/img/clients/9.png"></div>
     </section>
</div>
</div>